In [1]:
import pandas as pd
import pandas_datareader.data as web
import datetime as dt

c:\python38\lib\site-packages\pandas_datareader\compat\__init__.py:7: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  from pandas.util.testing import assert_frame_equal

In [2]:
start = dt.datetime(2000,1,1)
end = dt.datetime.now()

In [3]:
df = web.DataReader('AAPL', 'yahoo', start, end)
df.head()

                High       Low      Open     Close       Volume  Adj Close
Date
2000-01-03  4.017857  3.631696  3.745536  3.997768  133949200.0   3.460857
2000-01-04  3.950893  3.613839  3.866071  3.660714  128094400.0   3.169071
2000-01-05  3.948661  3.678571  3.705357  3.714286  194580400.0   3.215448
2000-01-06  3.821429  3.392857  3.790179  3.392857  191993200.0   2.937188
2000-01-07  3.607143  3.410714  3.446429  3.553571  115183600.0   3.076317

In [4]:
df.reset_index(inplace = True)
df.head()

        Date      High       Low      Open     Close       Volume  Adj Close
0 2000-01-03  4.017857  3.631696  3.745536  3.997768  133949200.0   3.460857
1 2000-01-04  3.950893  3.613839  3.866071  3.660714  128094400.0   3.169071
2 2000-01-05  3.948661  3.678571  3.705357  3.714286  194580400.0   3.215448
3 2000-01-06  3.821429  3.392857  3.790179  3.392857  191993200.0   2.937188
4 2000-01-07  3.607143  3.410714  3.446429  3.553571  115183600.0   3.076317

In [5]:
df.columns = [str(col).upper().replace(' ', '_') for col in df.columns]
df.head()

        DATE      HIGH       LOW      OPEN     CLOSE       VOLUME  ADJ_CLOSE
0 2000-01-03  4.017857  3.631696  3.745536  3.997768  133949200.0   3.460857
1 2000-01-04  3.950893  3.613839  3.866071  3.660714  128094400.0   3.169071
2 2000-01-05  3.948661  3.678571  3.705357  3.714286  194580400.0   3.215448
3 2000-01-06  3.821429  3.392857  3.790179  3.392857  191993200.0   2.937188
4 2000-01-07  3.607143  3.410714  3.446429  3.553571  115183600.0   3.076317

In [8]:
df.shape

(5121, 7)

In [6]:
df.to_csv('AAPL.csv')