In [1]:
import pandas as pd
import pandas_datareader.data as web
import datetime as dt

c:\python38\lib\site-packages\pandas_datareader\compat\__init__.py:7: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  from pandas.util.testing import assert_frame_equal

In [2]:
start = dt.datetime(2010,1,1)
end = dt.datetime.now()

In [3]:
df = web.DataReader('AAPL', 'yahoo', start, end)
df.head()

                High       Low      Open     Close       Volume  Adj Close
Date
2010-01-04  7.660714  7.585000  7.622500  7.643214  493729600.0   6.604801
2010-01-05  7.699643  7.616071  7.664286  7.656428  601904800.0   6.616219
2010-01-06  7.686786  7.526786  7.656428  7.534643  552160000.0   6.510980
2010-01-07  7.571429  7.466072  7.562500  7.520714  477131200.0   6.498945
2010-01-08  7.571429  7.466429  7.510714  7.570714  447610800.0   6.542150

In [4]:
df.reset_index(inplace = True)
df.head()

        Date      High       Low      Open     Close       Volume  Adj Close
0 2010-01-04  7.660714  7.585000  7.622500  7.643214  493729600.0   6.604801
1 2010-01-05  7.699643  7.616071  7.664286  7.656428  601904800.0   6.616219
2 2010-01-06  7.686786  7.526786  7.656428  7.534643  552160000.0   6.510980
3 2010-01-07  7.571429  7.466072  7.562500  7.520714  477131200.0   6.498945
4 2010-01-08  7.571429  7.466429  7.510714  7.570714  447610800.0   6.542150

In [5]:
df.columns = [str(col).upper().replace(' ', '_') for col in df.columns]
df.head()

        DATE      HIGH       LOW      OPEN     CLOSE       VOLUME  ADJ_CLOSE
0 2010-01-04  7.660714  7.585000  7.622500  7.643214  493729600.0   6.604801
1 2010-01-05  7.699643  7.616071  7.664286  7.656428  601904800.0   6.616219
2 2010-01-06  7.686786  7.526786  7.656428  7.534643  552160000.0   6.510980
3 2010-01-07  7.571429  7.466072  7.562500  7.520714  477131200.0   6.498945
4 2010-01-08  7.571429  7.466429  7.510714  7.570714  447610800.0   6.542150

In [6]:
df.shape

(2684, 7)

In [7]:
df.to_csv('AAPL.csv')